In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from tensorflow import keras

In [2]:
data = pd.read_csv('games.csv')
data.head(5)

       id       type  ... total_weights  average_weight
0   12333  boardgame  ...          2562          3.4785
1  120677  boardgame  ...          1423          3.8939
2  102794  boardgame  ...           777          3.7761
3   25613  boardgame  ...          1642          4.1590
4    3076  boardgame  ...          5213          3.2943

[5 rows x 20 columns]